{% extends 'base.html' %}

{% block title %}Auctions | {{ title }} {% endblock %}

{% block body %}
    {% include 'sidebar.html' %}
    <meta name="csrf-token" content="{{ csrf_token }}">

    <div class="container">
        <!-- Page Heading -->
        {% if success %}
            <br>
            <div id='success-alert' class='alert alert-success' role='alert'>
                The new auction created successfully.
            </div>
        {% else %}
            <!-- Option Modal -->
            <div id="optionModal" class="modal">
                <div class="modal-content">
                    <h2>Select an Option</h2>
                    <div class="modal-options">
                        <div class="option" id="scanIndividualBarcodes">
                            <i class="fa-solid fa-barcode"></i>
                            <h3>Scan Barcode(s)</h3>
                        </div>
                        <div class="option" id="scanQRCode">
                            <i class="fa-solid fa-qrcode"></i>
                            <h3>Scan QR Code</h3>
                        </div>
                        <div class="option" id="enterDetails">
                            <i class="fa-solid fa-pencil"></i>
                            <h3>Enter Manually</h3>
                        </div>
                        <div class="option" id="importExcel">
                            <i class="fa-solid fa-file-excel"></i>
                            <h3>Import Excel</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Scan QR Code Modal -->
            <div id="scanModal" class="modal">
                <div class="modal-content">
                    <h2>Scan Barcode</h2>
                    <div id="camera-preview" class="camera-preview">
                        <video id="video" width="100%" height="100%" autoplay></video>
                        <canvas id="canvas" class="hidden"></canvas>
                        <div class="scan-guide">
                            <div class="brackets"></div>
                            <div class="scan-line"></div>
                        </div>
                    </div>
                    <button id="closeScanModal" class="btn btn-secondary">Close</button>
                </div>
            </div>


            <!-- Scan Individual Barcodes Modal -->
            <div id="scanBarcodesModal" class="modal">
                <div class="modal-content">
                    <h2>Scan Individual Barcodes</h2>
                    <div class="form-group">
                        <label for="udiBarcode">UDI Barcode</label>
                        <input type="text" id="udiBarcode" class="form-control">
                        <button class="btn btn-primary" id="scanButton-udiBarcode" data-input="udiBarcode">Scan</button>
                    </div>
                    <div class="form-group">
                        <label for="lotNumberBarcode">Lot Number Barcode</label>
                        <input type="text" id="lotNumberBarcode" class="form-control">
                        <button class="btn btn-primary" id="scanButton-lotNumberBarcode" data-input="lotNumberBarcode">
                            Scan
                        </button>
                    </div>
                    <div class="form-group">
                        <label for="expirationDateBarcode">Expiration Date Barcode</label>
                        <input type="text" id="expirationDateBarcode" class="form-control">
                        <button class="btn btn-primary" id="scanButton-expirationDateBarcode"
                                data-input="expirationDateBarcode">Scan
                        </button>
                    </div>
                    <div class="form-group">
                        <label for="manufactureDateBarcode">Manufacture Date Barcode</label>
                        <input type="text" id="manufactureDateBarcode" class="form-control">
                        <button class="btn btn-primary" id="scanButton-manufactureDateBarcode"
                                data-input="manufactureDateBarcode">Scan
                        </button>
                    </div>


                    <button id="closeScanBarcodesModal" class="btn btn-secondary">Close</button>
                </div>
            </div>

            <!-- Import Excel Modal -->
            <div id="importModal" class="modal">
                <div class="modal-content" id="import-modal-content">
                    <h2>Import From Excel</h2>
                    <form id="importForm">
                        <input type="file" id="fileInput" accept=".xlsx, .xls, .csv" class="form-control" required>
                        <div id="previewContainer" style="display:none;">
                            <h3>Preview Data</h3>
                            <div id="table-container">
                                <table class="table mt-4" id="previewTable">
                                    <thead id="previewTableHead">
                                    <!-- Dynamic Headers -->
                                    </thead>
                                    <tbody id="previewTableBody">
                                    <!-- Dynamic Rows -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="mappingContainer" style="display:none;">
                            <h3>Column Mapping</h3>
                            <table class="table mt-4">
                                <thead>
                                <tr>
                                    <th>File Header</th>
                                    <th></th>
                                    <th>Form Field</th>
                                </tr>
                                </thead>
                                <tbody id="mappingTable">
                                <!-- Dynamic Rows -->
                                </tbody>
                            </table>
                        </div>
                        <div id="import-buttons">
                            <button type="submit" class="btn btn-primary" id="import-button" style="display:none;">
                                Import
                            </button>
                            <button type="button" id="closeImportModal" class="btn btn-secondary">
                                <div>Close</div>
                            </button>

                            <button type="button" id="openScanButton" class="btn btn-secondary">
                                <i class="fa-solid fa-barcode"></i>
                            </button>
                            <button type="button" id="openManualButton" class="btn btn-secondary">
                                <i class="fa-solid fa-pencil"></i>
                            </button>


                        </div>
                    </form>
                </div>
            </div>

            <h1 class='h3 mb-4 text-gray-800'>Create Auction</h1>
            <p>Enter the details of the new auction.</p>

            <div class='card mb-4'>
                <div class='card-body'>
                    <h3 class="package-details-heading">Auction Summary</h3>
                    <div class='form-group'>
                        <form action="{% url 'auction_create' %}" method='POST' enctype='multipart/form-data'>
                            {% csrf_token %}
                            <div class='form-group' id="auction-create">
                                {#                                <div class="">#}
                                {#                                    {{ auction_form.title.label_tag }}#}
                                {#                                    {{ auction_form.title }}#}
                                {#                                </div>#}
                                <div>
                                    {{ auction_form.product_name.label_tag }}
                                    {{ auction_form.product_name }}
                                </div>

                                <div class="bid-details">

                                    <div>
                                        {{ auction_form.udi.label_tag }}
                                        {{ auction_form.udi }}
                                    </div>

                                    <div>
                                        {{ auction_form.category.label_tag }}
                                        {{ auction_form.category }}
                                    </div>
                                    <div class="bid-row">
                                        <div>
                                            {{ auction_form.starting_bid.label_tag }}
                                            {{ auction_form.starting_bid }}
                                        </div>
                                        <div>
                                            {{ auction_form.reserve_bid.label_tag }}
                                            {{ auction_form.reserve_bid }}
                                        </div>
                                    </div>
                                    <div class="bid-row">
                                        <div>
                                            {{ auction_form.quantity_available.label_tag }}
                                            {{ auction_form.quantity_available }}
                                        </div>
                                        <div>
                                            {{ auction_form.auction_duration.label_tag }}
                                            {{ auction_form.auction_duration }}
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    {{ auction_form.description.label_tag }}
                                    {{ auction_form.description }}
                                </div>

                                <!-- Insert the heading here -->
                                <h3 class="package-details-heading">Enter Product Details</h3>

                                <div>
                                    {{ auction_form.manufacturer.label_tag }}
                                    {{ auction_form.manufacturer }}
                                </div>

                                <div>
                                    {{ auction_form.reference_number.label_tag }}
                                    {{ auction_form.reference_number }}
                                </div>

                                <div>
                                    {{ auction_form.lot_number.label_tag }}
                                    {{ auction_form.lot_number }}
                                </div>

                                <div>
                                    {{ auction_form.expiration_date.label_tag }}
                                    {{ auction_form.expiration_date }}
                                </div>

                                <div>
                                    {{ auction_form.package_type.label_tag }}
                                    {{ auction_form.package_type }}
                                </div>

                                <div>
                                    {{ auction_form.package_quantity.label_tag }}
                                    {{ auction_form.package_quantity }}
                                </div>

                                <div class="checkbox-row">
                                    {{ auction_form.deviceSterile.label_tag }}
                                    {{ auction_form.deviceSterile }}
                                </div>
                                <div class="checkbox-row">
                                    {{ auction_form.fullPackage.label_tag }}
                                    {{ auction_form.fullPackage }}
                                </div>

                                {{ image_form.management_form }}
                                <div class="img-container">
                                    <div class="main-img">
                                        <div class="img-thumbnail" id="main-img"
                                             onclick="document.getElementById('id_form-0-image').click()">
                                            <img id="main-thumbnail-preview" src="#" alt="Upload Icon"
                                                 style="display:none;"/>
                                            <i class="fa-regular fa-image" id="main-upload-icon"></i>
                                        </div>
                                        <div style="display:none;">
                                            {{ image_form.forms.0.image.label_tag }}:
                                            {{ image_form.forms.0.image }}
                                            {{ image_form.forms.0.id }}
                                        </div>
                                    </div>
                                    <div class="side-imgs">
                                        {% for form in image_form.forms %}
                                            {% if forloop.counter0 > 0 %}
                                                <div class="side-img">
                                                    <div class="img-thumbnail"
                                                         onclick="document.getElementById('id_form-{{ forloop.counter0 }}-image').click()">
                                                        <img id="thumbnail-preview-{{ forloop.counter0 }}" src="#"
                                                             alt="Upload Icon" style="display:none;"/>
                                                        <i class="fa-regular fa-image"
                                                           id="upload-icon-{{ forloop.counter0 }}"></i>
                                                    </div>
                                                    <div style="display:none;">
                                                        {{ form.image.label_tag }}:
                                                        {{ form.image }}
                                                        {{ form.id }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                                <button type='submit' class='btn btn-primary'>
                                    Save
                                </button>
                                <a href="{% url 'active_auctions_view' %}" class='btn btn-secondary'>
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="../static/js/create_auction.js"></script>

{% endblock %}
